<fieldset>
    <div class = "box">
      <h2>Farm</h2>
      <h5>Earns 2-5 Gold</h5>
      <button (click) = "Explore('farm')">Farm!</button>
    </div>
    <div class = "box">
      <h2>Cave</h2>
      <h5>Earns 5-10 Gold</h5>
      <button (click) = "Explore('cave')">Cave!</button>
    </div>
    <div class = "box">
      <h2>Casino</h2>
      <h5>Earn up to or lose up to 100 Gold</h5>
      <button (click) = "Explore('casino')">Casino!</button>
    </div>
    <div class = "box">
      <h2>House</h2>
      <h5>Earns 7-15 Gold</h5>
      <button (click) = "Explore('house')">House!</button>
    </div>
  </fieldset>